<!-- <ngb-datepicker #dp [(ngModel)]="model" (ngModelChange)="switchDate($event)"></ngb-datepicker>  -->
<div class="mx-auto">
	<button class="btn btn-sm btn-light" (click)="lastDay()">Prev Day</button>
	<form class="form-inline inline col col-6">
	  <div class="form-group">
	    <div class="input-group">
	      <input class="form-control" placeholder="yyyy-mm-dd"
	             name="dp" [(ngModel)]="model" (ngModelChange)="switchDate($event)" ngbDatepicker #d="ngbDatepicker" >
	      <button class="input-group-addon" (click)="d.toggle()" type="button">
	        <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
	      </button>
	    </div>
	  </div>
	</form>
	<button class="btn btn-sm btn-light" (click)="nextDay()">Next Day</button>
</div>

